@use 'sass:math';

// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$font-size: 1.6rem;

// BREAK POINTS
$lg: math.div(1200, 16) * 1em;
$md: math.div(1000, 16) * 1em;
$md-sm: math.div(800, 16) * 1em;
$sm: math.div(600, 16) * 1em;
// $lg-sm: #{(1100 / 16) * 1em};
// $md: #{(900 / 16) * 1em};
// $sm: #{(600 / 16) * 1em};
// $xm: #{(500 / 16) * 1em};

// PATHS
$img-path: '../img';
