@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Place holder: which will be extended
%heading {
	font-family: $font-display;
	font-weight: 400;
}

.heading-1 {
	@extend %heading;
	font-size: 4.5rem;
	line-height: 1;
	color: $color-grey-light-1;
}

.heading-2 {
	@extend %heading;
	@include colorMode;

	font-size: 4rem;
	font-style: italic;
	line-height: 1;
}

.heading-3 {
	@extend %heading;
	color: $color-primary;
}

.heading-4 {
	@extend %heading;
	@include colorMode;
	font-size: 1.9rem;
}
